
.btn-primary {
    color: grey;
    background-color:   lightgrey;
    border-color: black;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: grey;
    background-color: lightgrey;
    border-color: black;}

.bg-1 {; font-family: "Georgia", serif;}
.bg-2 {; font-family:"Times New Roman", Times, serif;}


